/* For-Ipad */

/* Nav */

@media (max-width: 991px){


    .header_wrapper .navbar{
        text-align: center;
        background: linear-gradient(90deg, #88dbcd 0%, #d08ce0d2 100%);
    }
    .header_wrapper .nav-item{
        padding: 5px 0;
    }

    /* Home */

    .home_wrapper {
        background: linear-gradient(90deg, #88dbcd 0%, #D18CE0 100%);
    }
    .home_wrapper .my-box-2{
        transform: translate(2%);
    }

    .home_wrapper .my-box{
        transform: translate(2.5%);
        margin-top: 2.5rem;
        padding-left: 1rem;
    }

    .home_wrapper h1{
        font-size: 3rem;

    }

    .home_wrapper p{
       
        padding: 1rem 0;
    }

    .home_wrapper .my-row{
        width: 100%;
    }

    /* Services */
    .services_wrapper .service-row span{
        display:inline-block;
        transform: translate(0%);
        position: relative;
        margin: 2.5rem 0;
        
    }
    
    .services_wrapper .service-row span i{
        font-size: 4rem;
        color: darkorchid;
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        bottom: 15px;
        
    }

    .services_wrapper .service-row p{
        width: 60%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    /* About_us */

    .about_us_wrapper .about-us-box{
        margin-top: 2rem;
    }

    .about_us_wrapper .about-us-box h1{
        margin-bottom: 2rem;
    }

    /* work */

    .work_wrapper img{
        height: 100%;
        width: 100%;
    }

    .work_wrapper .overlay-content{
        max-width: 100%;
    }

    /* Pricing */
    
    .pricing_wrapper .pricing-box{
        width: 60%;
        margin: 2rem auto;
    }

    /* Progress */

    .progress_section{
        max-width: 100%;
        overflow-x: hidden;
    }

    .progress_section .progress_col{
       
        padding: 1.5rem;
        margin-top:3rem;
        width: 100%;
        margin: 3rem auto 0 auto;

        
    }

    /* clients 3 */

    .clients_wrapper_3 img{
       margin-bottom: 2rem;
    }
}

/* contact */

.contact{
    height: auto;
}

.contact_wrappers{
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.main-container{
    width: 90%;
}

.main-container .for-responsive{
    width: 80%;
   
}

.main-container .for-responsive button{
    width: 220px;
}

/* footer */










/* For-Mobile */

@media (max-width: 767px){

    body{
        overflow-x: hidden;
    }
        /* Home */
    
        .home_wrapper h1{
            font-size: 2rem!important;
            text-align: center;
    
        }

        .home_wrapper .my-box{
            transform: translate(3%);
            margin-top: 2.5rem;
            padding: 1.5rem 0.5rem;
            text-align: center;
        }

     

        .home_wrapper .my-box-2{
            transform: translate(3%);
        }


       

          /* Services */

          .services_wrapper .service-row p{
            width: 100%;
            
        }

        .services_wrapper .service-row{
            margin: 2rem 0.3rem 0;
        }

        .services_wrapper h1 {
            font-size: 2rem!important ;
        }
        /* About */

        .about_us_wrapper .about-us-box{
           width: 95%;
        }

        .about_us_wrapper .about-us-box .about-div{
            margin-top: 5rem;
            }

        .about_us_wrapper .about-us-box p{
            width: 90%;
            
            
        }
        .about_us_wrapper .about-us-box h1{
            font-size: 2rem!important;
            
        }

         /* Pricing */
    
    .pricing_wrapper .pricing-box{
        width: 80%;
        margin: 2rem auto;
    }
    h1{
        font-size:2rem!important;
    }

    h2{
        font-size: 1.2rem!important;
    }

    .progress_section{
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Progress Section */
    .progress_section .progress_col{
       
        
        max-width: 98%;
        

        
    }

    /* Faqs */
    .faqs_wrapper .faq_sec img{
      border-radius: 10px;
    }

    .faqs_wrapper .faq_sec h1{
        font-size: 1.5rem!important;
    }
   /* clients 2 */

   .clients_wrapper_2 h4{

    font-size: 1rem!important;
    margin-bottom: 1rem;

   }

   /* Contact */

   .footer_wrapper{
       padding: 1rem 0;
   }

   .footer_wrapper .row{
    width: 100%;
    overflow: hidden;
}

.footer_wrapper .row .col-lg-3{
    text-align: center; 
}

.footer_wrapper .row .col-lg-3 h4{
    font-size: 2rem!important;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.footer_wrapper .row .col-lg-3 a span{
    font-size: 1.2rem;
}
    
}

}